<table bgcolor="#f1c40f">
    <tr>
        <td bgcolor="#f39c12"><%= link_to "HOME", home_index_path %></td>
        <td><%= link_to "Livros", books_path %></td>
        <td><%= link_to "Autores", authors_path %></td>
        <td><%= link_to "Categorias", categories_path %></td>
        <td><%= link_to "Clientes", clients_path %></td>
        <td><%= link_to "Reservas", reservations_path %></td>
    </tr>
</table>

